<div class="pages-container">
  <div class="container">
    <!-- Login Forms -->
    <div class="login-wrapper">
      <div class="row align-items-center justify-content-center">
        <!-- <div class="col-md-12 col-lg-6 col-xl-6 col-12">
          <div class="login-left reset-img">
            <img
              src="./images/create-password.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div> -->
        <div class="col-md-12 col-lg-5 col-xl-5 col-12">
          <div class="login-form reset-password-box">
            <div class="form-group-container">
              <div class="row">
                <div class="col-12">
                  <div class="form-logo text-center">
                    <img src="assets/images/logo.png" alt="" />
                  </div>
                  <div class="login-heading text-center">
                    <h1>Create New Password</h1>
                    <div class="back-arrow">
                      <a routerLink="/otp"
                        ><i class="fas fa-long-arrow-alt-left"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                  <div class="form-input-group">
                    <div class="form-input-box">
                      <input
                        type="password"
                        placeholder="Create New Password"
                        class="form-input icon-input"
                      />
                      <div class="input-icon">
                        <i class="fas fa-lock"></i>
                      </div>
                      <div class="eye-icon">
                        <i class="far fa-eye-slash"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                  <div class="form-input-group">
                    <div class="form-input-box">
                      <input
                        type="password"
                        placeholder="Confirm New Password"
                        class="form-input icon-input"
                      />
                      <div class="input-icon">
                        <i class="fas fa-lock"></i>
                      </div>
                      <div class="eye-icon">
                        <i class="far fa-eye-slash"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-submit-btn">
                    <a><button class="form-btn w-100">Save</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
