<div class="container">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="home"
        ><img src="assets/images/logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto menu">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="menu-active"
              routerLink="measure"
              >login to measure</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="menu-active"
              routerLink="register"
              >register</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="menu-active" routerLink="plan"
              >plans</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="menu-active"
              routerLink="about"
              >about us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="menu-active"
              routerLink="sponsor"
              >Contributors and Sponsors</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="menu-active" routerLink="faq"
              >Support/FAQ</a
            >
          </li>
        </ul>
        <!-- <div class="header-btn-box">
          <a href="new-patient-registration.html"
            ><button>make appointment</button></a
          >
        </div> -->
      </div>
    </nav>
  </div>
</div>
