<footer class="container-fluid p-0">
  <div class="footer">
    <div class="container">
      <!-- <div class="footer-header">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4 col-12">
              <div class="footer-logo">
                <img src="./images/footer-logo.png" alt="" />
              </div>
            </div>
             <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4 col-12">
              <div class="newsletter-heading">
                <h3>Subscribe For Newsletter</h3>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4 col-12">
              <div class="newsletter-input-box">
                <input
                  type="text"
                  class="newsletter-input"
                  placeholder="Enter Your email"
                />
                <button class="newsletter-submit-btn">
                  <i class="far fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div> -->
      <div class="footer-bottom d-flex justify-content-center">
        <div class="row w-100">
          <div
            class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-12 footer-links"
          >
            <div class="footer-logo-area">
              <div class="footer-logo">
                <img src="assets/images/footer-logo.png" alt="" />
              </div>

              <div class="client-logo">
                <img src="assets/images/hipaa.png" alt="" />
              </div>

              <!-- <div class="call-footer">
                <img src="assets/images/Group 11130.png" alt="" />
                <div class="call-footer-number">
                  <h6>+(000)123456789</h6>
                  <p>Got Questions?Call us 24/7</p>
                </div>
              </div> -->
              <div class="call-footer">
                <img src="assets/images/Group 11196.png" alt="" />
                <div class="call-footer-number">
                  <h6>Mail</h6>
                  <a href="mailto:contact@edematrack.com"
                  >contact@edematrack.com</a
                >
                </div>
              </div>

              <div class="social">
                <h6>Follow us on:</h6>
                <div class="social-link">
                  <div class="social-icon">
                    <a
                      href="https://www.facebook.com/people/Edematrack-Treatment-Tool/pfbid033cLZewyS4GDgT5hQsZChDPx6ShLkvZucC3ZBWEvEPafX47Mo8gnkKVjvFYzRPCjVl/?sk=about_overview"
                      target="_blank"
                      ><img src="assets/images/Group 11247.png" alt=""
                    /></a>
                  </div>
                  <div class="social-icon">
                    <a
                      href="https://www.instagram.com/edematrack/"
                      target="_blank"
                      ><img src="assets/images/Group 11199.png" alt=""
                    /></a>
                  </div>
                  <div class="social-icon">
                    <a
                      href="https://www.linkedin.com/in/edematrack/"
                      target="_blank"
                      ><img src="assets/images/Group 11200.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div
              class="col-md-12 col-lg-4 col-xl-4 col-xxl-4 col-12 footer-links"
            >
              <h5>Useful Links</h5>
              <hr class="" />
              <ul>
                <li>
                  <a href="about.html">About us</a>
                </li>
                <li>
                  <a href="choose-your-plan.html">Plans</a>
                </li>
                <li>
                  <a href="sponsor.html">Contributors and sponsors</a>
                </li>
                <li>
                  <a href="support.html">Login to support/FAQ</a>
                </li>
              </ul>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="subfooter">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="container d-flex subfooter-container">
        <div class="sub-links">
          <a href="#"
            >&copy;2024 <strong><span>Edematrack </span></strong>All Right
            Reserved</a
          >
        </div>

        <div class="sub-links">
          <a routerLink="policy"  target="_blank">Privacy policy</a>
        </div>

        <div class="sub-links">
          <a routerLink="term"  target="_blank">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
  <button id="btnScrollToTop">
    <i class="material-icons">arrow_upward</i>
  </button>
</div>
