<div class="container-fluid-p-0">
  <div class="hero-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-12">
          <div class="hero-content text-center">
            <h1>Streamlined Lymphatic Treatment Tracking Tool</h1>
            <p>
              Established in 2022, EdemaTrack lends healthcare professionals an
              optimized and standardized measuring <br />
              workflow, as well as objective & intuitive limb visualization for
              streamlined progress tracking of <br />
              lymphedema & other related edema.
            </p>
            <!-- <div class="hero-btn-box">
              <a href=""
                ><button class="button-primary">about us</button></a
              >
              <a href=""><button class="button-secondary">plans</button></a>
            </div> -->
          </div>
        </div>
        <!-- <div class="col-lg-5 col-md-12">
          <div class="hero-review-section">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="review-box">
                    <div class="review-header">
                      <div class="review-quote">
                        <img
                          src="./images/Group 11129.png"
                          alt=""
                          class="review-quote"
                        />
                      </div>
                      <div class="review-user">
                        <img src="./images/review.png" alt="" />
                      </div>
                      <div class="review-name">
                        <h1>Emily Taylor</h1>
                        <div class="review-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <p>
                            Lorem ipsum dolor sit, amet consect adipisicing
                            elit. amet consectetur
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="review-box">
                    <div class="review-header">
                      <div class="review-quote">
                        <img
                          src="./images/Group 11129.png"
                          alt=""
                          class="review-quote"
                        />
                      </div>
                      <div class="review-user">
                        <img src="./images/review.png" alt="" />
                      </div>
                      <div class="review-name">
                        <h1>Emily Taylor</h1>
                        <div class="review-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
                        <p>
                          Lorem ipsum dolor sit, amet consect adipisicing
                          elit. amet consectetur
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="review-box">
                    <div class="review-header">
                      <div class="review-quote">
                        <img
                          src="./images/Group 11129.png"
                          alt=""
                          class="review-quote"
                        />
                      </div>
                      <div class="review-user">
                        <img src="./images/review.png" alt="" />
                      </div>
                      <div class="review-name">
                        <h1>Emily Taylor</h1>
                        <div class="review-star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
                        <p>
                          Lorem ipsum dolor sit, amet consect adipisicing
                          elit. amet consectetur
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review-section-arrow">
              <button
                class="carousel-control-prev"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="prev"
              >
                <i class="far fa-arrow-alt-circle-left"></i>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="next"
              >
                <i class="far fa-arrow-alt-circle-right"></i>
              </button>
            </div>
          </div>
        </div> -->
      </div>
      <div class="process-container">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <div class="processbox1">
              <div class="process-content">
                <h6>Select Patient</h6>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Optio error sed, impedit nostrum dolorum dolores!
              </p> -->
              </div>
              <div class="process-image-box">
                <div class="process-image">
                  <img src="assets/images/Select patient.png" alt="" />
                  <!-- <div class="process-count">
                  <span>01</span>
                </div> -->
                </div>
              </div>

              <div class="process-arrow">
                <img src="assets/images/arrow.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <div class="processbox1 text-center">
              <div class="process-content">
                <h6>Input Measurements</h6>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Optio error sed, impedit nostrum dolorum dolores!
              </p> -->
              </div>
              <div class="process-image-box">
                <div class="process-image">
                  <img src="assets/images/landing screenshot.png" alt="" />
                  <!-- <div class="process-count">
                  <span>02</span>
                </div> -->
                </div>
              </div>

              <div class="process-arrow">
                <img src="assets/images/arrow.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <div class="processbox1">
              <div class="process-content">
                <h6>Generate Reports</h6>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Optio error sed, impedit nostrum dolorum dolores!
              </p> -->
              </div>
              <div class="process-image-box">
                <div class="process-image">
                  <img src="assets/images/PDF Report Placeholder_.png" alt="" />
                  <!-- <div class="process-count">
                  <span>03</span>
                </div> -->
                </div>
              </div>

              <div class="process-arrow">
                <img src="assets/images/arrow.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <div class="processbox1 text-center">
              <div class="process-content">
                <h6>Export Easily</h6>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Optio error sed, impedit nostrum dolorum dolores!
              </p> -->
              </div>
              <div class="process-image-box">
                <div class="process-image">
                  <img src="assets/images/export easly.png" alt="" />
                  <!-- <div class="process-count">
                  <span>04</span>
                </div> -->
                </div>
              </div>
              
            </div>
          
          </div>
          <div class="row mt-5 py-4 " style="width: -webkit-fill-available;">
            <div class="col-md-6 col-12  mb-4">
              <div style="width: 100%;">
                <iframe 
                  src="https://player.vimeo.com/video/1062260769?h=e577f00541&autoplay=1" 
                  width="100%" 
                  height="250" 
                  frameborder="0" 
                  allow="autoplay fullscreen" 
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          
            <div class="col-md-6 col-12 d-flex justify-content-center mb-4">
              <div style="width: 95%; margin-left: 40px;">
                <iframe 
                  width="90%" 
                  height="250" 
                  src="https://www.youtube.com/embed/u5IVycUVUlk" 
                  title="How to measure arm / leg for lymphedema &amp; compression garments - let's talk about EdemaTrack!" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" 
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
          




          
        </div>
   
       
      </div>
     
    </div>
 
  </div>
  
</div>
