.image-upload-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-preview-container {
    width: 170px;
    height: 170px;
    position: relative;
    border: 1px solid #d8d8d8;
    margin-bottom: 25px;
    border-radius: 50%;
  }
  .image-preview-container img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #d8d8d8 !important;
  }
  .image-preview-container input {
    visibility: hidden;
  }
  .image-preview-container label {
    width: 30px;
    height: 30px;
    background-color: #5ba2ad;
    position: absolute;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-preview-container label span {
    color: #f7f7f7;
  }
  .subscribed-plan {
    border: 2px solid #009ea3;
    overflow: hidden;
  }
  .trial-lock-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 43, 43, 0.3);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    /* z-index: 9999; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }
  .trial-lock-card {
    min-width: 800px;
  }
  
  .eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .admin-image img {
    height: 200px !important;
    width: 200px !important;
  }
  
  .email-otp-verification-box{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 15px;
    margin: 30px 0;
  }
  .email-otp-verification-input{
    width: 200px;
    height:40px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius:4px;
  }
  .email-otp-verification-input:focus{
    outline:none;
    border:1px solid #5ba2ad;
  }
   .trial-lock-card{
    width: 320px !important;
  }