<div class="container-fluid-p-0">
    <div class="pages-container">
      <div class="container">
        <!-- Login Forms -->
        <div class="login-wrapper">
          <div class="row align-items-center justify-content-center">
            <!-- <div class="col-md-12 col-lg-6 col-xl-6 col-12">
              <div class="login-left reset-img">
                <img src="./images/vvvv-01.png" class="img-fluid" alt="" />
              </div>
            </div> -->
            <div class="col-md-12 col-lg-5 col-xl-5 col-12">
              <div class="login-form reset-password-box">
                <div class="form-group-container">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-logo text-center">
                        <img src="assets/images/logo.png" alt="" />
                      </div>
                      <div class="login-heading text-center">
                        <h1>Create New Password</h1>
                        <div class="back-arrow">
                          <a routerLink="/otp/{{userKey}}"
                            ><i class="fas fa-long-arrow-alt-left"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                      <div class="form-input-group">
                        <div class="form-input-box">
                          <input
                            [type]="changetype ? 'password' : 'text'"
                            placeholder="Enter New Password"
                            class="form-input icon-input"
                            id="newPassword"
                          />
                          <div class="input-icon">
                            <i class="fas fa-lock"></i>
                          </div>
                          <div class="eye-icon" (click)="viewpass()">
                            <i
                              [ngClass]="
                                visible ? 'fa fa-eye-slash' : 'fa fa-eye'"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                      <div class="form-input-group">
                        <div class="form-input-box">
                          <input
                             [type]="changetypes ? 'password' : 'text'"
                            placeholder="Confirm New Password"
                            class="form-input icon-input"
                            id="confirmPassword"
                          />
                          <div class="input-icon">
                            <i class="fas fa-lock"></i>
                          </div>
                          <div class="eye-icon" (click)="viewspass()">
                            <i
                              [ngClass]="
                                visibles ? 'fa fa-eye-slash' : 'fa fa-eye'
                              "
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="userError?.randomOtp">
                      <span class="text-danger">{{ userError.randomOtp }}</span>
                    </div>
                    <div *ngIf="userError?.password">
                      <span class="text-danger">{{ userError.password }}</span>
                    </div>
                    <div class="col-12">
                      <div class="form-submit-btn">
                        <a 
                          ><button class="form-btn w-100 mt-3" (click)="onSubmit()">Create Password</button></a
                        >
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  