<!-- Term and conditiion section -->
<div class="container-fluid-p-0">
  <div class="page-container">
    <div class="work-progress-section">
      <div class="container">
        <div class="login-wrapper about-bg">
          <div class="col-md-12">
            <div class="form-logo text-center">
              <img src="assets/images/logo.png" alt="" />
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
              <div class="container" > 
                <div class="privacy-policy" [innerHTML]="termsAndCondition.termsConditions"></div>
              </div>
            </div>

            <div class="row"></div>
            <hr class="mt-5" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
