<div class="container-fluid-p-0">
  <div class="page-container">
    <div class="container">
      <!-- Login Forms -->
      <div class="login-wrapper">
        <div class="row align-items-center justify-content-center">
          <!-- <div class="col-md-12 col-lg-7 col-xl-7 col-12">
            <div class="login-left">
              <img src="./images/form-image.png" class="img-fluid" alt="" />
            </div>
          </div> -->
          <div class="col-md-12 col-lg-5 col-xl-5 col-12">
            <div class="login-form mt-5">
              <div class="form-group-container">
                <div class="row">
                  <div class="col-12">
                    <div class="login-heading text-center">
                      <h1>Login</h1>
                      <div class="back-arrow">
                        <a href=""
                          ><i class="fas fa-long-arrow-alt-left"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                    <div class="form-input-group">
                      <div class="form-input-box">
                        <input
                          type="text"
                          placeholder="Email"
                          class="form-input icon-input"
                        />
                        <div class="input-icon">
                          <i class="far fa-envelope"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                    <div class="form-input-group">
                      <div class="form-input-box">
                        <input
                          type="password"
                          placeholder="Password"
                          class="form-input icon-input"
                        />
                        <div class="input-icon">
                          <i class="fas fa-lock"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="password-bottom">
                      <div class="remember-password">
                        <input type="checkbox" />
                        <span>Remember Me</span>
                      </div>
                      <div class="forgot-password">
                        <a href="reset-password.html">Forgot Password?</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-submit-btn">
                      <a href=""
                        ><button class="form-btn w-100">Login</button></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
