<!-- Payment section -->
<section class="container-fluid p-0">
  <div class="page-container">
    <div class="container">
      <!-- <div class="col-md-12">
          <div class="form-logo text-center">
            <img src="./images/logo.png" alt="" />
          </div>
        </div> -->
      <div class="login-wrapper">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 col-lg-7 col-xl-7 col-12">
            <div class="invoice-card">
              <div class="col-md-12">
                <div class="form-logo text-center">
                  <img src="assets/images/icons8-success-144.png" alt="" />
                </div>
                <div class="login-heading text-center">
                     <h3>Payment successful !</h3>
                </div>
              </div>
              <div class="col-12 mt-5"> 
                <div class="form-submit-btn">
                  <a 
                    ><button (click)="downloadInvoice()" class="form-btn w-100">Click here to download Receipt </button></a
                  >
                </div>
                <br />
                <div class="form-submit-btn">
                  <a 
                    ><button (click)="autoLogin()" class="form-btn w-100">Click here to login</button></a
                  >
                </div>

                <br />
                <div class="form-submit-btn">
                  <a routerLink="/home"
                    ><button class="form-btn w-100">Home</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <hr class="mt-5" />
      </div>
    </div>
  </div>
</section>
