.term-condition-accept{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 8px;
}
.term-condition-accept input{
    margin-top: 4px;
}
.term-condition-accept span{
    font-size:14px;
    color: #353535;
}
.term-condition-accept span a{
    color: #30a1a5;
}
.alert-error{
    width:320px;
    min-height: 70px;
    background-color: #fff1f1;
    position:fixed;
    right:0;
    top:200px;
    padding:10px 20px;
 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-left: 3px solid #ff6262;
}
.alert-error p{
    color: #ff6262;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}