<div class="container-fluid-p-0">
  <div class="page-container">
    <div class="container">
      <!-- Login Forms -->
      <div class="login-wrapper">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 col-xl-7 col-12">
            <div class="container privacy-policy">
              <h2 class="mb-3">Sponsors</h2>
              <p>
                EdemaTrack has collaboratively engaged with a diverse range of
                professionals in the field, including seasoned clinicians,
                newcomers, esteemed lymphedema institutions, and reputable
                compression industry manufacturers. Their invaluable
                contributions have played a pivotal role in the rigorous testing
                and continuous enhancement of our measuring tool. We extend our
                heartfelt appreciation to each of these dedicated individuals
                and organizations for their unwavering support and generosity.
              </p>
            </div>
            <!-- <div class="col-12">
              <div class="form-submit-btn mt-5">
                <a href="terms-and -condition.html"
                  ><button class="form-btn">Read more</button></a
                >
              </div>
            </div> -->
          </div>
          <div class="col-md-12 col-lg-5 col-xl-5 col-12">
            <div class="container sponsors_container">
              <div class="row no-gutters">
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/juzo.png" alt="Image 1" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/LR.png" alt="Image 2" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/essity.png" alt="Image 3" />
                  </div>
                </div>
              </div>

              <div class="row no-gutters justify-content-center">
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/Grouhb48.png" alt="Image 4" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/sg.png" alt="Image 5" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/PURE.png" alt="Image 5" />
                  </div>
                </div>
              </div>

              <div class="row no-gutters">
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/kelos.jpg" alt="Image 6" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/Norton.png" alt="Image 7" />
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-4 col-12">
                  <div class="sponsors_box">
                    <img src="assets/images/ILWTI.png" alt="Image 8" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="work-progress-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="work-process-header">
                <div class="contributor-head text-center">
                  <h2>Contributors</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor1.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/guenterklose/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Guenter Klose</h6>
                  <p>Executive Director at Klose Training & Consulting</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor2.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/steve-norton-165b7415/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Steve Norton</h6>
                  <p>CEO at Norton Salas Group, Inc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/JoeZuther.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/joachim-zuther-4a621127/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Joachim Zuther</h6>
                  <p>Lymphoid Specialist, Author of “It’s
                    Not Just a Swelling“ & “Lymphedema
                    Management: A Comprehensive
                    Guide For Practitioners”</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor3.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/brandy-mckeown-otr-l-clt-lana-clwt-b4104a84/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Brandy Mckeown</h6>
                  <p>
                    CEO at International Lymphedema & Wound Training Institute
                    (ILWTI)
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor4.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/vicky-gudesen-a49a1899/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Vicky Gudesen</h6>
                  <p>Sales Manager Denmark, Norway & Iceland with Juzo</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor10.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/bryan-groleau-29397a55/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Bryan Groleau</h6>
                  <p>National Senior Clinical Education Manager at Medi USA</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor5.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/kim-gladman-98800a1a7/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Kim Gladman</h6>
                  <p>
                    Medical Education Liaison & Territory Sales Manager at Juzo
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor6.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/lindsay-ryback-01677564/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Lindsay Ryback</h6>
                  <p>North American Marketing Manager at L&R USA</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor7.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/karen-allen-hislop-57382b13/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Karen Allen Hislop</h6>
                  <p>
                    Owner of Therapy Achievements, <br />
                    Director at Lymphatic Education & Research Network (LE&RN)
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/Jen_Seaver.jpeg" alt="" />
                    <div class="process-count">
                      <a
                        href=" https://www.linkedin.com/in/jennifer-seaver-05b33a2b8/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Jen Seaver</h6>
                  <p>
                    Clinical Informatics Specialist at BJC HealthCare,
                    <br />Instructor at Norton School of Lymphatic Therapy
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor9.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/linda-hodgkins-b406291b/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Linda Hodgkins</h6>
                  <p>
                    Lymphedema Program Manager at Hartford HealthCare (HHCRN),
                    <br />
                    Instructor at Klose Training & Consulting
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/contributor8.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/vicki-johnsen-ralph-788897158/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Vicki Ralph</h6>
                  <p>
                    OT Clinical Specialist at University of Colorado Hospital,
                    <br />Instructor for Klose Training & Consulting
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-12">
              <div class="processbox1">
                <div class="process-image-box">
                  <div class="process-about-image">
                    <img src="assets/images/denise_comiskey.jpg" alt="" />
                    <div class="process-count">
                      <a
                        href="https://www.linkedin.com/in/denise-c-55a880180/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="process-text contributor-text">
                  <h6>Denise Comiskey</h6>
                  <p>
                    Owner of Pathways Therapy Services,
                    <br/>Instructor at Norton School of Lymphatic Therapy
                  </p>
                </div>
              </div>
            </div>

          </div>
          <hr class="mt-5" />
        </div>
      </div>
    </div>
  </div>
</div>
